@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 100;
}
.body-style {
  width: 320px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #fff;
  position: relative;
}
@media (min-width: 660px) {
  .body-style {
    width: 660px;
    /*padding: 0 20px;*/
  }
}
@media (min-width: 960px) {
  .body-style {
    margin: 0 auto;
    min-width: 960px;
    /*max-width: 1200px;*/
    width: 100%;
    position: relative;
    /*padding: 0 120px;*/
  }
}
/*@media (min-width: 1200px) {
  .body-style {
    width: 1200px;
  }
}*/
.index-page {
  /*background: #283645 url("../img/pink-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
  opacity: 0.1;*/
}
@media (min-width: 660px) {
  .index-page {
    /*background: #283645 url("../img/pink-index-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;*/
  }
}
@media (min-width: 960px) {
  .index-page {
    /*background: #283645 url("../img/pink-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;*/
  }
}
.form-page {
  /*background: #283645 url("../img/pink-form-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;*/
}
@media (min-width: 660px) {
  .form-page {
    /*background: #283645 url("../img/pink-form-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;*/
  }
}
@media (min-width: 960px) {
  .form-page {
    /*background: #283645 url("../img/pink-form-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;*/
  }
}
.photo-page {
  /*background: #283645 url("../img/pink-photo-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;*/
}
@media (min-width: 660px) {
  .photo-page {
    /*background: #283645 url("../img/pink-photo-tablet.jpg") no-repeat 50% 0;
    background-size: 660px auto;*/
  }
}
@media (min-width: 960px) {
  .photo-page {
    /*background: #283645 url("../img/pink-photo-desktop.jpg") no-repeat 50% 0;
    background-size: 1200px auto;*/
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  min-height: 284px;
  background-color: #ffffff;
  /*outline: 5px solid pink;*/
}
@media (min-width: 660px) {
  .page-footer {
    width: 660px;
    min-height: 127px;
  }
}
@media (min-width: 960px) {
  .page-footer {
    width: 100%;
    min-height: 197px;
  }
}
.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*flex-grow: 1;*/
  margin: 0 auto;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 204px;
  position: relative;
  z-index: 1;
}
@media (min-width: 660px) {
  .page-footer__container {
    width: 620px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    height: 127px;
  }
}
@media (min-width: 960px) {
  .page-footer__container {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    height: 197px;
  }
}
.page-footer__logo-image {
  max-width: 100%;
  height: 40px;
  width: 147px;
  cursor: pointer;
}
.page-footer__logo-desktop {
  max-width: 100%;
  height: 40px;
  width: 147px;
  cursor: pointer;
  display: none;
}
@media (min-width: 660px) {
  .page-footer__logo-image {
    margin-top: 36px;
    margin-bottom: 51px;
    fill: #283645;
  }
}
@media (min-width: 960px) {
  .page-footer__logo-image {
    display: none;
  }
  .page-footer__logo-desktop {
    display: block;
    fill: #283645;
    margin-top: 70px;
    margin-bottom: 87px;
  }
}
.page-footer__logo-image:hover:not(:active),
.page-footer__logo-desktop:hover:not(:active) {
  fill: #5e7447;
}
.page-footer__logo-image:active,
.page-footer__logo-desktop:active {
  opacity: 0.3;
}
.page-footer__logo-image--index:hover:not(:active),
.page-footer__logo-desktop--index:hover:not(:active) {
  fill: #283645;
  cursor: default;
}
.page-footer__logo-image--index:active,
.page-footer__logo-desktop--index:active {
  opacity: 1;
  cursor: default;
}
.page-footer__logo {
  width: 160px;
  text-align: center;
  min-height: 41px;
  margin-bottom: 38px;
}
@media (min-width: 660px) {
  .page-footer__logo {
    height: 127px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .page-footer__logo {
    height: 197px;
  }
}
.page-footer__social {
  width: 189px;
  margin-top: 19px;
  margin-bottom: 19px;
  min-height: 51px;
}
@media (min-width: 660px) {
  .page-footer__social {
    margin-top: 0;
    margin-bottom: 38px;
    height: 127px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .page-footer__social {
    height: 197px;
  }
}
.page-footer__copyright {
  width: 146px;
  /*временно для сетки*/
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 660px) {
  .page-footer__copyright {
    width: 160px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (min-width: 660px) {
  .page-footer__contacts {
    width: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 960px) {
  .page-footer__contacts {
    width: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 59px;
    padding-bottom: 58px;
  }
}
.page-footer__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #283645;
  margin: 0;
  text-align: center;
}
@media (min-width: 960px) {
  .page-footer__title {
    margin-bottom: 20px;
    text-align: center;
  }
}
.page-footer__phone,
.page-footer__email {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #5e7447;
  margin: 0;
  text-decoration: none;
  display: inline;
}
@media (min-width: 660px) {
  .page-footer__phone,
  .page-footer__email {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  .page-footer__phone,
  .page-footer__email {
    font-size: 24px;
  }
}
.page-footer__phone:hover,
.page-footer__email:hover {
  border-bottom: 1px solid #283645;
  color: #283645;
}
.page-footer__phone:active,
.page-footer__email:active {
  border-bottom: none;
  color: rgba(40, 54, 69, 0.3);
}
.main-nav {
  background-color: #b2b2b2;
  width: 320px;
  margin: 0 auto;
  /*min-height: 64px;*/
  position: relative;
}
/*высота навигации у планшетной версии такая же, как у мобильной*/
@media (min-width: 660px) {
  .main-nav {
    /* Временно для сетки */
    width: 660px;
  }
}
@media (min-width: 960px) {
  .main-nav {
    /* Временно для сетки */
    background-color: transparent;
    width: auto;
    margin: 0;
    min-height: 110px;
    /*width: 620px;*/
    /*padding: 0 130px;*/
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  /*min-height: 64px;*/
  /*outline: 10px solid lime;*/
  /*background-color: white;
  opacity: 0.3;*/
}
@media (max-width: 959px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    position: static;
    min-height: 0;
  }
}
@media (min-width: 660px) {
  .main-nav__list {
    width: 660px;
  }
}
@media (min-width: 960px) {
  .main-nav__list {
    width: 620px;
    min-height: 110px;
  }
}
.main-nav__toggle {
  outline: none;
  position: absolute;
  top: -48px;
  right: 20px;
  height: 24px;
  width: 24px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
@media (min-width: 660px) {
  .main-nav__toggle {
    position: absolute;
    top: -68px;
    right: 20px;
  }
}
@media (min-width: 960px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  outline: none;
  position: absolute;
  top: 2px;
  right: 0;
  width: 50px;
  height: 24px;
  background-image: url("../img/icon-menu-burger.svg");
  /*background-color: #ffffff;*/
}
.main-nav--closed .main-nav__toggle:hover::before {
  content: "";
  outline: none;
  position: absolute;
  top: 2px;
  right: 0;
  /*background-image: none;*/
  background-image: url("../img/icon-menu-burger-pink.svg");
  width: 50px;
  height: 24px;
}
.main-nav--closed .main-nav__toggle:active::before {
  content: "";
  outline: none;
  position: absolute;
  top: 2px;
  right: 0;
  /*background-image: none;*/
  background-image: url("../img/icon-menu-burger-pink.svg");
  opacity: 0.3;
  width: 50px;
  height: 24px;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-menu-cross.svg");
}
.main-nav--opened .main-nav__toggle:hover::before {
  content: "";
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  /*background-image: none;*/
  background-image: url("../img/icon-menu-cross-pink.svg");
  width: 24px;
  height: 24px;
}
.main-nav--opened .main-nav__toggle:active::before {
  content: "";
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  /*background-image: none;*/
  background-image: url("../img/icon-menu-cross-pink.svg");
  opacity: 0.3;
  width: 24px;
  height: 24px;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  /*outline: 5px solid green;*/
  /*background-color: green;
  opacity: 0.3;*/
}
@media (min-width: 660px) {
  .site__list {
    /*width: 660px;*/
  }
}
@media (min-width: 960px) {
  .site-list {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* Временно для сетки */
    /*min-height: 110px;*/
  }
}
.site-list__item,
.site-list__item--active {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
@media (min-width: 960px) {
  .site-list__item,
  .site-list__item--active {
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    position: relative;
  }
}
.site-list__link {
  display: block;
  text-align: center;
  padding: 15px 88px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
  border-top: 1px solid #ecf5ef;
  border-bottom: 1px solid #0000009d;
}
.site-list__link:hover {
  color: #8fb365;
}
.site-list__link:active {
  color: #8fb365;
  opacity: 0.3;
}
/*.site-list__link--active {
  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    opacity: 1;
  }
}*/
@media (min-width: 660px) {
  .site-list__link {
    padding: 15px 255px;
  }
}
@media (min-width: 960px) {
  .site-list__link {
    border: none;
    padding: 0 0;
  }
}
@media (min-width: 960px) {
  .site-list__link {
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    /*&:hover {
      color: #ffffff;
      padding-bottom: 10px;
      border-bottom: 2px solid #ffffff;
    }

    &:active {
      color: @bg-pink;
      border-bottom: 2px solid @bg-pink;
      opacity: 1;
    }*/
  }
  .site-list__link:after {
    background-color: #ffffff;
    display: block;
    content: "";
    top: 25px;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .site-list__link:hover {
    color: #ffffff;
  }
  .site-list__link:hover:after,
  .site-list__link:focus:after {
    width: 100%;
  }
}
.page-header {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media (min-width: 960px) {
  .page-header {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 100%;
  }
}
.page-header__container {
  /*background-color: #283645;*/
  /*outline: 5px solid yellow;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  /*width: 280px;
  padding: 0 20px;*/
  /*height: 326px;*/
}
@media (min-width: 660px) {
  .page-header__container {
    /*width: 620px;
    padding: 0 20px;*/
  }
}
@media (min-width: 960px) {
  .page-header__container {
    /*background-color: rgba(16, 22, 28, 0.3);*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 940px;
    /*position: absolute;
    top: 0;*/
    /*left: -50%;
    margin-left: 50%;*/
    /*left: 0;
    right: 0;*/
    margin: auto;
    padding: 0 10px;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000000;
  position: relative;
}
@media (min-width: 660px) {
  .page-header__wrapper {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 42px;
  }
}
@media (min-width: 960px) {
  .page-header__wrapper {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 0;
    width: 150px;
    border: none;
    /*padding: 0 130px;*/
    height: 40px;
    padding-bottom: 35px;
    background-color: transparent;
  }
}
.page-header__logo-desktop {
  position: absolute;
  top: 14px;
  left: 20px;
  fill: #fff;
}
@media (min-width: 660px) {
  .page-header__logo-desktop {
    top: 35px;
    left: 20px;
    fill: #fff;
  }
}
@media (min-width: 960px) {
  .page-header__logo-desktop {
    position: static;
    fill: #fff;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    display: block;
  }
  .page-header__logo-desktop:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 659px) {
  .page-header__wrapper--transparent {
    height: 21px;
  }
}
@media (max-width: 959px) {
  .page-header__wrapper--transparent {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }
  .page-header__wrapper--none {
    opacity: 1;
  }
}
@media (min-width: 320px) {
  .page-header__logo-title {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 70px;
  }
}
@media (min-width: 660px) {
  .page-header__logo-title {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    position: absolute;
    top: 45px;
    left: 70px;
  }
}
@media (min-width: 960px) {
  .page-header__logo-title {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    position: static;
  }
}
@media (min-width: 960px) {
  .page-header__logo-title {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    padding-top: 10px;
    position: static;
  }
}
.page-main {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 320px) {
  .page-main {
    position: relative;
  }
  .page-main__button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    text-align: center;
  }
  .page-main__button-image {
    width: 30px;
    height: 15px;
    text-align: center;
    padding-top: 17px;
  }
  .page-main__button:hover {
    background-color: rgba(143, 179, 101, 0.2);
  }
  .page-main__button:active {
    background-color: rgba(143, 179, 101, 0.5);
  }
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  /*-webkit-clip-path: inset(100%);*/
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 660px) {
  .social__list {
    width: 189px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.social__item {
  height: 51px;
  width: 51px;
  /*position: relative;*/
}
.social__link {
  height: 45px;
  width: 45px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: 3px solid rgba(40, 54, 69, 0.1);
}
.social__link:hover {
  border: 3px solid #283645;
}
.social__link:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}
.social__link:active .social__image {
  opacity: 0.3;
}
.social__image {
  pointer-events: none;
}
.social__link--youtube {
  padding-left: 4px;
  width: 41px;
}
@media (min-width: 320px) {
  .page-image {
    margin-top: -70px;
    min-height: 200px;
    background-image: url(../img/notebook-mobile.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
@media (min-width: 660px) {
  .page-image {
    margin-top: -110px;
    min-height: 400px;
    background-image: url(../img/notebook-tablet.jpg);
  }
}
@media (min-width: 960px) {
  .page-image {
    margin-top: 0;
    height: 590px;
    background-image: url(../img/notebook-desktop.jpg);
  }
}
.information {
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
}
@media (min-width: 660px) {
  .information {
    width: 660px;
  }
}
@media (min-width: 960px) {
  .information {
    width: 100%;
  }
}
.information__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 660px) {
  .information__wrapper {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 46px;
    padding-bottom: 29px;
  }
}
@media (min-width: 960px) {
  .information__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 64px;
    padding-bottom: 18px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 110px;
  }
}
.information__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #567537;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 660px) {
  .information__title {
    font-size: 40px;
    line-height: 48px;
    padding-left: 124px;
    padding-right: 124px;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .information__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
    position: relative;
  }  
}
@media (min-width: 320px) {
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 660px) {
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 960px) {
  .information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: flex-start;
    margin: 0;
    width: auto;
  }
}
@media (min-width: 320px) {
  .information__text {
    width: 280px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
  }
}
@media (min-width: 660px) {
  .information__text {
    width: 380px;
    margin-top: 20px;
    font-weight: 400;
    text-align: left;
  }
}
@media (min-width: 960px) {
  .information__text {
    width: 650px;
    margin-top: 0;
    font-weight: 400;
    text-align: left;
  }
}
@media (min-width: 320px) {
  .information__text-sentence {
    margin: 0;
  }
  .information__text-sentence--space {
    margin-top: 10px;
    position: relative;
  }
  .information__text-sentence--mobile {
    display: none;
  }
}
@media (min-width: 660px) {
  .information__text-sentence {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  .information__text-sentence--space {
    margin-top: 10px;
    position: relative;
  }
  .information__text-sentence--mobile {
    display: block;
  }
}
@media (min-width: 960px) {
  .information__text-sentence {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
  .information__text-sentence--space {
    margin-top: 10px;
    position: relative;
  }
}
@media (min-width: 320px) {
  .information__text-bottom {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
  }
}
@media (min-width: 660px) {
  .information__text-bottom {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    width: 600px;
  }
}
@media (min-width: 960px) {
  .information__text-bottom {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    width: auto;
  }
}
@media (min-width: 320px) {
  .information__href-academy {
    color: #567537;
  }
  .information__href-academy:hover {
    color: #648be0;
  }
  .information__href-academy:active {
    color: #0943c0;
  }
}
@media (min-width: 320px) {
  .information__image {
    text-align: center;
  }
}

.portfolio {
  background-color: #f8f8f4;
  margin: 0 auto;
  width: 320px;
  position: relative;
}
.portfolio:after {
  background: linear-gradient(-45deg, #ffffff 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 16px 16px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 16px;
}
@media (min-width: 660px) {
  .portfolio {
    width: 660px;
  }
  .portfolio:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
  }
}
@media (min-width: 960px) {
  .portfolio {
    width: 100%;
    position: relative;
    padding: 0 0 32px 0px;
    background: #f8f8f4;
  }
  .portfolio:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
  }
}
.portfolio__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 660px) {
  .portfolio__wrapper {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 46px;
    padding-bottom: 29px;
  }
}
@media (min-width: 960px) {
  .portfolio__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 64px;
    padding-bottom: 18px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}
.portfolio__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #567537;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 660px) {
  .portfolio__title {
    font-size: 40px;
    line-height: 48px;
    padding-left: 124px;
    padding-right: 124px;
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .portfolio__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
  }
}
@media (min-width: 660px) {
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
@media (min-width: 960px) {
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
@media (min-width: 320px) {
  .portfolio__box {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 660px) {
  .portfolio__box {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 960px) {
  .portfolio__box {
    width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 320px) {
  .portfolio__name {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #283645;
    width: 280px;
  }
}
@media (min-width: 960px) {
  .portfolio__name {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #283645;
    width: 270px;
  }
}
@media (min-width: 320px) {
  .portfolio__image-container {
    width: 270px;
    height: 135px;
    background-color: #ffffff;
    border: 5px solid #efefef;
    border-radius: 3px;
    overflow: hidden;
  }
  .portfolio__image-container:hover {
    border: 5px solid rgba(170, 172, 168, 0.5);
  }
  .portfolio__image-container:active {
    border: 5px solid rgba(143, 179, 101, 0.7);
  }
}
@media (min-width: 960px) {
  .portfolio__image-container {
    width: 270px;
    height: 135px;
    background-color: #ffffff;
    border: 5px solid #efefef;
    border-radius: 3px;
    overflow: hidden;
  }
  .portfolio__image-container:hover {
    border: 5px solid rgba(170, 172, 168, 0.5);
  }
  .portfolio__image-container:active {
    border: 5px solid rgba(143, 179, 101, 0.7);
  }
}
@media (min-width: 320px) {
  .portfolio__course-name {
    font-size: 18px;
    font-weight: 100;
    width: 280px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #283645;
    text-decoration: none;
  }
  .portfolio__course-name:hover {
    color: #8fb365;
  }
  .portfolio__course-name:active {
    color: #678149;
  }
  .portfolio__course-name--static:hover,
  .portfolio__course-name--static:active {
    color: #283645;
  }
}
@media (min-width: 960px) {
  .portfolio__course-name {
    font-size: 20px;
    font-weight: 100;
    width: 270px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #283645;
    text-decoration: none;
  }
  .portfolio__course-name:hover {
    color: #8fb365;
  }
  .portfolio__course-name:active {
    color: #678149;
  }
  .portfolio__course-name--static:hover,
  .portfolio__course-name--static:active {
    color: #283645;
  }
}
@media (min-width: 320px) {
  .portfolio__image {
    width: 270px;
    opacity: 0.8;
  }
}
@media (min-width: 960px) {
  .portfolio__image {
    width: 270px;
    opacity: 0.8;
  }
  .portfolio__image:hover {
    opacity: 1;
  }
}
@media (min-width: 320px) {
  .portfolio__text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    min-height: 40px;
    width: 280px;
    text-align: center;
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .portfolio__text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 100;
    min-height: 70px;
    width: 280px;
    text-align: center;
  }
}
@media (min-width: 320px) {
  .portfolio__description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    min-height: 20px;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (min-width: 660px) {
  .portfolio__description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    min-height: 40px;
    width: 280px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (min-width: 960px) {
  .portfolio__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    min-height: 70px;
    width: 270px;
    margin: 0;
  }
}
.skills {
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
}
@media (min-width: 660px) {
  .skills {
    width: 660px;
  }
}
@media (min-width: 960px) {
  .skills {
    width: 100%;
    position: relative;
    padding: 0 0 32px 0px;
    background: #fff;
  }
}
.skills__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 660px) {
  .skills__wrapper {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 26px;
    padding-bottom: 29px;
  }
}
@media (min-width: 960px) {
  .skills__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 44px;
    padding-bottom: 18px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
.skills__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #567537;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 660px) {
  .skills__title {
    font-size: 40px;
    line-height: 48px;
    padding-left: 124px;
    padding-right: 124px;
    margin-bottom: 10px;
  }
}
@media (min-width: 960px) {
  .skills__title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) {
  .skills__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (min-width: 960px) {
  .skills__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
  }
}
@media (min-width: 320px) {
  .skills__container {
    margin-bottom: 10px;
  }
}
@media (min-width: 660px) {
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}
@media (min-width: 960px) {
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
  .skills__box:nth-child(2) {
    padding-right: 50px;
  }
}
@media (min-width: 320px) {
  .skills__list {
    font-size: 14px;
    line-height: 20px;
    color: #283645;
    margin: 0;
    width: 235px;
  }
}
@media (min-width: 660px) {
  .skills__list {
    font-size: 14px;
    line-height: 20px;
    color: #283645;
    margin: 0;
    width: 270px;
  }
}
@media (min-width: 960px) {
  .skills__list {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin: 0;
    width: auto;
  }
}
@media (min-width: 660px) {
  .skills__key {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 35px;
  }
}
@media (min-width: 960px) {
  .skills__key {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 35px;
  }
}
@media (min-width: 660px) {
  .skills__item {
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-right: 100px;
    position: relative;
  }
  .skills__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 200px;
    height: 16px;
    border-radius: 8px;
    background-color: #eee;
  }
  .skills__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 200px;
    height: 16px;
    border-radius: 8px;
    background-color: #8fb365;
  }
  .skills__item--html:after {
    content: "";
    width: 200px;
  }
  .skills__item--javascript:after {
    content: "";
    width: 150px;
  }
  .skills__item--photoshop:after {
    content: "";
    width: 100px;
  }

  .skills__item--jquery:after {
    content: "";
    width: 100px;
  }
}
@media (min-width: 960px) {
  .skills__item {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-right: 0;
    position: relative;
  }
  .skills__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 200px;
    height: 16px;
    border-radius: 8px;
    background-color: #eee;
  }
  .skills__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 150px;
    height: 16px;
    border-radius: 8px;
    background-color: #8fb365;
  }
  .skills__item--html:after {
    content: "";
    width: 175px;
  }
  .skills__item--javascript:after {
    content: "";
    width: 90px;
  }
  .skills__item--photoshop:after {
    content: "";
    width: 70px;
  }
}
@media (min-width: 320px) {
  .skills__box--mobile {
    display: none;
  }
}
@media (min-width: 660px) {
  .skills__box--mobile {
    display: block;
  }
}
@media (min-width: 320px) {
  .hobby {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 960px) {
  .hobby {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 960px) {
  .hobby__image {
    margin-top: 0;
    height: 610px;
    background-image: url(../img/table-desktop.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1200px) {
  .hobby__image {
    height: 670px;
  }
}
.hobby__wrapper {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 660px) {
  .hobby__wrapper {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 26px;
    padding-bottom: 29px;
  }
}
@media (min-width: 960px) {
  .hobby__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 54px;
    padding-bottom: 18px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
.hobby__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #567537;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 660px) {
  .hobby__title {
    font-size: 40px;
    line-height: 48px;
    padding-left: 124px;
    padding-right: 124px;
    margin-bottom: 10px;
  }
}
@media (min-width: 960px) {
  .hobby__title {
    padding-left: 350px;
    padding-top: 120px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) {
  .hobby__text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (min-width: 960px) {
  .hobby__text {
    padding-top: 35px;
    padding-left: 370px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
  }
}
@media (min-width: 320px) {
  .hobby__list {
    font-size: 14px;
    line-height: 20px;
    color: #283645;
    margin: 0;
    width: 235px;
  }
}
@media (min-width: 660px) {
  .hobby__list {
    font-size: 14px;
    line-height: 20px;
    padding-left: 70px;
    color: #283645;
    margin: 0;
    width: 270px;
  }
}
@media (min-width: 960px) {
  .hobby__list {
    padding-left: 390px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    margin: 0;
    width: auto;
  }
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/*stylelint-disable*/
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
